In [1]:
import pandas as pd
df = pd.read_csv("covid(For Naive Bayes Program).csv")

In [2]:
df

    no      pc     wbc      mc     ast      bc     ldh  diagnosis
0    1     Low     Low     Low    High  Normal  Normal       True
1    2     Low     Low  Normal    High  Normal    High       True
2    3     Low    High  Normal    High  Normal  Normal      False
3    4     Low    High  Normal    High    High  Normal       True
4    5     Low  Normal    High    High  Normal  Normal      False
5    6     Low  Normal  Normal    High  Normal    High       True
6    7  Normal     Low     Low    High  Normal  Normal       True
7    8  Normal    High  Normal    High  Normal  Normal      False
8    9  Normal    High  Normal    High    High    High       True
9   10  Normal  Normal    High    High  Normal  Normal      False
10  11  Normal  Normal    High    High  Normal    High       True
11  12    High     Low     Low  Normal  Normal  Normal       True
12  13    High  Normal    High  Normal  Normal  Normal      False
13  14    High  Normal    High  Normal    High    High       True
14  15    High    High  Normal  Normal  Normal    High       True
15  16     Low  Normal    High    High    High  Normal      False
16  17  Normal  Normal    High    High    High  Normal      False
17  18    High     Low     Low  Normal  Normal    High       True
18  19  Normal  Normal  Normal    High  Normal  Normal      False
19  20  Normal    High  Normal    High  Normal    High       True
20  21  Normal     Low  Normal    High  Normal    High       True
21  22     Low    High  Normal    High    High    High       True
22  23     Low     Low     Low    High    High    High       True
23  24    High    High  Normal  Normal  Normal  Normal       True
24  25    High  Normal  Normal  Normal  Normal  Normal      False

In [3]:
from sklearn.model_selection import train_test_split

In [26]:
from sklearn.naive_bayes import MultinomialNB

In [27]:
y = df['diagnosis']

In [28]:
y

0      True
1      True
2     False
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16    False
17     True
18    False
19     True
20     True
21     True
22     True
23     True
24    False
Name: diagnosis, dtype: bool

In [29]:
x = df.drop(columns = 'diagnosis')

In [30]:
x

    no      pc     wbc      mc     ast      bc     ldh
0    1     Low     Low     Low    High  Normal  Normal
1    2     Low     Low  Normal    High  Normal    High
2    3     Low    High  Normal    High  Normal  Normal
3    4     Low    High  Normal    High    High  Normal
4    5     Low  Normal    High    High  Normal  Normal
5    6     Low  Normal  Normal    High  Normal    High
6    7  Normal     Low     Low    High  Normal  Normal
7    8  Normal    High  Normal    High  Normal  Normal
8    9  Normal    High  Normal    High    High    High
9   10  Normal  Normal    High    High  Normal  Normal
10  11  Normal  Normal    High    High  Normal    High
11  12    High     Low     Low  Normal  Normal  Normal
12  13    High  Normal    High  Normal  Normal  Normal
13  14    High  Normal    High  Normal    High    High
14  15    High    High  Normal  Normal  Normal    High
15  16     Low  Normal    High    High    High  Normal
16  17  Normal  Normal    High    High    High  Normal
17  18    High     Low     Low  Normal  Normal    High
18  19  Normal  Normal  Normal    High  Normal  Normal
19  20  Normal    High  Normal    High  Normal    High
20  21  Normal     Low  Normal    High  Normal    High
21  22     Low    High  Normal    High    High    High
22  23     Low     Low     Low    High    High    High
23  24    High    High  Normal  Normal  Normal  Normal
24  25    High  Normal  Normal  Normal  Normal  Normal

In [31]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.5, random_state=0)

In [32]:
x_train

    no      pc     wbc      mc     ast      bc     ldh
8    9  Normal    High  Normal    High    High    High
6    7  Normal     Low     Low    High  Normal  Normal
18  19  Normal  Normal  Normal    High  Normal  Normal
4    5     Low  Normal    High    High  Normal  Normal
9   10  Normal  Normal    High    High  Normal  Normal
7    8  Normal    High  Normal    High  Normal  Normal
20  21  Normal     Low  Normal    High  Normal    High
3    4     Low    High  Normal    High    High  Normal
0    1     Low     Low     Low    High  Normal  Normal
21  22     Low    High  Normal    High    High    High
15  16     Low  Normal    High    High    High  Normal
12  13    High  Normal    High  Normal  Normal  Normal

In [33]:
from sklearn import preprocessing
import numpy as np

In [34]:
lb = preprocessing.LabelEncoder()

In [35]:
x1 = lb.fit_transform(df['no'])
x2 = lb.fit_transform(df['pc'])
x3 = lb.fit_transform(df['wbc'])
x4 = lb.fit_transform(df['mc'])
x5 = lb.fit_transform(df['ast'])
x6 = lb.fit_transform(df['bc'])
x7 = lb.fit_transform(df['ldh'])
yxc = lb.fit_transform(df['diagnosis'])

In [36]:
features = zip(x2,x3,x4,x5,x6,x7)
features = np.array(list(features))

In [37]:
features

array([[1, 1, 1, 0, 1, 1],
       [1, 1, 2, 0, 1, 0],
       [1, 0, 2, 0, 1, 1],
       [1, 0, 2, 0, 0, 1],
       [1, 2, 0, 0, 1, 1],
       [1, 2, 2, 0, 1, 0],
       [2, 1, 1, 0, 1, 1],
       [2, 0, 2, 0, 1, 1],
       [2, 0, 2, 0, 0, 0],
       [2, 2, 0, 0, 1, 1],
       [2, 2, 0, 0, 1, 0],
       [0, 1, 1, 1, 1, 1],
       [0, 2, 0, 1, 1, 1],
       [0, 2, 0, 1, 0, 0],
       [0, 0, 2, 1, 1, 0],
       [1, 2, 0, 0, 0, 1],
       [2, 2, 0, 0, 0, 1],
       [0, 1, 1, 1, 1, 0],
       [2, 2, 2, 0, 1, 1],
       [2, 0, 2, 0, 1, 0],
       [2, 1, 2, 0, 1, 0],
       [1, 0, 2, 0, 0, 0],
       [1, 1, 1, 0, 0, 0],
       [0, 0, 2, 1, 1, 1],
       [0, 2, 2, 1, 1, 1]])

In [38]:
x_train,x_test,y_train,y_test = train_test_split(features,yxc,test_size=0.2)

In [39]:
mnb = MultinomialNB()

In [40]:
y_pred = mnb.fit(x_train,y_train).predict(x_test)

In [42]:
from sklearn.metrics import classification_report

In [47]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.50      0.50      0.50         2
           1       0.67      0.67      0.67         3

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5

In [45]:
from sklearn.metrics import accuracy_score

In [48]:
print(accuracy_score(y_pred,y_test))

0.6

In [49]:
from sklearn.metrics import roc_curve

In [ ]:
prob = mnb.predict_proba